<div class="user-summary" <% if (user.headColor) { %> style="background-color: <%= user.headColor %>"<% } %>>
    <div class="image" style="background-image:url(http://www.gravatar.com/avatar/<%= user ? toMd5(user.email): '' %>?d=mm);"><div></div></div>
    <div class="name"><%= user ? normalizeUserName(user) : __('I am') %></div>
    <div class="summary"><%= user && user.about ? user.about: '' %></div>
    <div class="meta">
        <div class="stat">
            <div class="item">
                <% if (sessionUser && sessionUser.id == user.id) { %>
                <div class="title"><%- __('My Records') %></div>
                <% } else { %>
                <div class="title"><%- __('Records') %></div>
                <% } %>
                <div class="count"><%= user && user.recordsCount ? user.recordsCount: 0 %></div>
            </div>
            <div class="item">
                <% if (sessionUser && sessionUser.id == user.id) { %>
                <div class="title"><%- __('My Readers') %></div>
                <% } else { %>
                <div class="title"><%- __('Readers') %></div>
                <% } %>
                <div class="count"><%= user && user.readersCount ? user.readersCount: 0 %></div>
            </div>
            <div class="item">
                <% if (sessionUser && sessionUser.id == user.id) { %>
                <div class="title"><%- __('I reading') %></div>
                <% } else { %>
                <div class="title"><%- __('Reads') %></div>
                <% } %>
                <div class="count"><%= user && user.readingCount ? user.readingCount: 0 %></div>
            </div>
        </div>
        <div class="control">
        <% if (sessionUser && sessionUser.id == user.id) { %>
            <a class="button simple-button" href="/user/setting"><%- __('Settings') %></a>
            <a class="button simple-button" href="/user/logout"><%- __('Logout') %></a>
        <% } else if (isRead) { %>
            <a class="button trust-button" href="<%- apiConfig.userUnreadUrl %>?id=<%- user.id %>" data-read-btn-el data-id="<%- user.id %>"><%- __('Reading') %></a>
        <% } else { %>
            <a class="button" href="<%- apiConfig.userReadUrl %>?id=<%- user.id %>" data-read-btn-el data-id="<%- user.id %>"><%- __('Read') %></a>
        <% } %>
        </div>
    </div>
</div>

<div class="text-container">
    <div class="feed-list">
        <%- partial('../partials/record_items', { items: records }) %>
    </div>
</div>

<script>
(function() {

var readText = '<%- __('Read') %>',
    readingText = '<%- __('Reading') %>',
    readUrl = '<%- apiConfig.userReadUrl %>',
    unreadUrl = '<%- apiConfig.userUnreadUrl %>',
    useUrl;

$('[data-read-btn-el]').on('click', function() {
    var buttonEl = $(this);

    if (buttonEl.hasClass('trust-button')) {
        useUrl = unreadUrl;
    } else {
        useUrl = readUrl;
    }

    $.get(useUrl + '?id=' + buttonEl.data('id'))
        .done(function(data) {
            buttonEl.html(buttonEl.hasClass('trust-button') ? readText: readingText);
            buttonEl.toggleClass('trust-button');
        });

    return false;
});

})();
</script>