<div class="attachment">
    <% if (data.imageUrl || data.url) { %>
    <div class="image" style="background-image:url(<%- data.imageUrl %>);">
        <%= ! data.imageUrl ? data.url.substr(7, 1): '' %>
    </div>
    <% } %>
    <div class="summary">
        <div class="title">
            <span class="inside">
                <% if (data.id) { %>
                <a class="link" href="<%- apiConfig.recordViewUrl %>?id=<%= data.id %>" data-link="<%= data.url %>"><%- data.title %></a>
                <% } else { %>
                <%- data.title %><% } %>
                <a class="shortcut-link" href="<%= data.url %>" target="_blank" data-title="<%= data.url.replace('http://', '').replace('www.', '').replace(/\/.+/, '') %>"></a>
            </span>
        </div>
        <div class="text">
            <%- data.cuttedContent %>
        </div>
    </div>
</div>