<!doctype html>
<html>
  <head>
    <%- partial('partials/head') %>
    <title><%- title %></title>
  </head>
  <body class="normal-page">

    <div class="nav">
        <div class="container">
            <ul>
                <li <%- req.options.controller == 'user' && req.options.action == 'index' ? 'class="active"': '' %>><a href="/user/index"><%- sessionUser ? normalizeUserName(sessionUser): __('I am') %></a></li>
                <li <%- req.options.controller == 'record' ? 'class="active"': '' %>><a href="/record/index"><%- __('Feed') %></a></li>
                <li <%- req.options.controller == 'topic' ? 'class="active"': '' %>><a href="/topic/index"><%- __('Topics') %></a></li>
            </ul>
            <ul class="second">
                <li><a class="button add-button" href="/record/add" data-add-btn-el>&nbsp;</a></li>
            </ul>
        </div>
    </div>

    <div class="page-container">
      <div class="container">
        <%- body %>
      </div>
    </div>

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/app.css">
<!--STYLES END-->

<!--TEMPLATES-->

<!--TEMPLATES END-->

<script>
(function() {

var addBtnEl = $('[data-add-btn-el]');

addBtnEl.on('click', function() {
  window.api.openAddDialog();
  return false;
});

})();
</script>

  </body>
</html>
