<!doctype html>
<html>
  <head>
    <%- partial('partials/head') %>
    <title><%- title %></title>
  </head>
  <body class="normal-page">

    <div class="nav">
        <div class="container">
            <ul>
                <li <%- target.controller === 'user' ? 'class="active"': '' %>><a href="/user/index"><%- sessionUser && sessionUser.name ? user.name: sessionUser && sessionUser.email ? sessionUser.email: __('I am') %></a></li>
                <li <%- target.controller === 'record' ? 'class="active"': '' %>><a href="/record/index"><%- __('Feed') %></a></li>
                <li <%- target.controller === 'topic' ? 'class="active"': '' %>><a href="/topic/index"><%- __('Topics') %></a></li>
            </ul>
            <ul class="second">
                <li><a class="button add-button" href="/record/add">+</a></li>
            </ul>
        </div>
    </div>

    <div class="page-container">
      <div class="container">
        <%- body %>
      </div>
    </div>

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/app.css">
<!--STYLES END-->

<!--TEMPLATES-->

<!--TEMPLATES END-->

  </body>
</html>
