<div class="topic-container">
    <div class="topic-list">
        <% _.each(items, function(item) { %>
        <div class="item">
            <div class="inside">
                <div class="title">
                    <a href="<%- apiConfig.topicViewUrl %>?id=<%- item.id %>"><%= item.name %></a>
                </div>
                <div class="readers-count">
                    100 readers
                </div>
                <div class="control">
                <% if (readingTopics.indexOf(item.id) >= 0) { %>
                    <a class="button trust-button" href="<%- apiConfig.topicUnreadUrl %>?id=<%- item.id %>"><%- __('Reading') %></a>
                <% } else { %>
                    <a class="button" href="<%- apiConfig.topicReadUrl %>?id=<%- item.id %>"><%- __('Read') %></a>
                <% } %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>