<div class="topic-summary">
    <div class="name"><%= model.name %></div>
    <div class="summary"><%= model.description ? model.description: '' %></div>
    <div class="meta">
        <div class="stat">
            <div class="item">
                <div class="title"><%- __('Readers') %></div>
                <div class="count"><%- model.readersCount ? model.readersCount: '0' %></div>
            </div>
            <div class="item">
                <div class="title"><%- __('Records') %></div>
                <div class="count"><%- model.recordsCount ? model.recordsCount: '0' %></div>
            </div>
        </div>
        <div class="control">
        <% if (readingTopics.indexOf(model.id) >= 0) { %>
            <a class="button trust-button" href="<%- apiConfig.topicUnreadUrl %>?id=<%- model.id %>"><%- __('Reading') %></a>
        <% } else { %>
            <a class="button" href="<%- apiConfig.topicReadUrl %>?id=<%- model.id %>"><%- __('Read') %></a>
        <% } %>
        </div>
    </div>
</div>

<% if (records.length > 0) { %>
<div class="text-container">
    <div class="feed-list">
        <%- partial('../partials/record_items', { items: records }) %>
    </div>
</div>
<% } else { %>
<div class="empty-message">
    <div class="text">
        <p><%- __('To add Record &mdash; click Add Record and use hashtag <b>#%s</b>.', model.name) %></p>
    </div>
    <div class="buttons">
        <p><a class="button" href="<%- apiConfig.topicIndexUrl %>" data-add-btn-el><%- __('Add Record') %></a></p>
    </div>
</div>
<% } %>