<div class="topic-summary">
    <div class="name"><%= model.name %></div>
    <div class="summary"><%= model.description ? model.description: '' %></div>
    <div class="meta">
        <div class="stat">
            <div class="item">
                <div class="title"><%- __('Readers') %></div>
                <div class="count"><%- model.readersCount ? model.readersCount: '0' %></div>
            </div>
            <div class="item">
                <div class="title"><%- __('Records') %></div>
                <div class="count"><%- model.recordsCount ? model.recordsCount: '0' %></div>
            </div>
        </div>
        <div class="control">
            <a class="button trust-button" href="#">Reading</a>
            <!-- <a class="button" href="#">Read</a> -->
        </div>
    </div>
</div>

<% if (model.records.length > 0) { %>
<div class="text-container">
    <div class="feed-list">
        <%- partial('../partials/record_items', { items: model.records }) %>
    </div>
</div>
<% } %>